a {
    color: white;
    text-decoration: none;
}

.home {
    min-height: 600px;
}

.login-page {
    margin-top: 2em;
}

.login-form {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}